@mixin images(
    $mtop: null,
    $mw: null,
    $mh: null) {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    margin-top: $mtop;
    max-width: $mw;
    max-height: $mh;
}