// Images
@mixin objplacement(
    $mtop: null,
    $mw: null,
    $mh: null) {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    margin-top: $mtop;
    max-width: $mw;
    max-height: $mh;
}
// Grid columns
@mixin themes ($map) {
    @each $colcolors, $gridbtncolors in $map {
        &-#{$colcolors} {
          background-color: $gridbtncolors;
        }
    }
}
// Media queries
@mixin mq($break) {
    @media (min-width: $break) {
       @content;
     }
} 