.form {
    flex-basis: 100%;
    .input{
      display: block;
      width: 94%;
      margin: 10px auto 0;
      border: none;
      padding: 10px;
      border-bottom: 5px solid #58e1c1; 
        &-label {
          display: none;
        }
   }
  }
  
