.img-avatar {
    @include objplacement(10px, 100%, 100%);
  }
  
  .img-frame {
    @include objplacement(10px, 100%);
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    @include objplacement;
    @include mq($break) {
        margin-left: initial;
        margin-right: initial;    
    }
  }
